<form method="post" action="{{ path('app_ticket_enchere_delete', {'ticketId': ticket_enchere.ticketId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket_enchere.ticketId) }}">
    <button class="btn">Delete</button>
</form>
