{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button class="btn" style="background-color: green; color: white;">{{ button_label|default('Enregistrer✅') }}</button>
{{ form_end(form) }}
