<form method="post" action="{{ path('app_grosmots_delete', {'idGm': grosmot.idGm}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grosmot.idGm) }}">
    <button class="btn">Delete</button>
</form>
