<form method="post" action="{{ path('app_categoriecodepromo_delete', {'idccp': categoriecodepromo.idccp}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoriecodepromo.idccp) }}">
    <button class="btn">Delete</button>
</form>
