{% extends 'base.html.twig' %}

{% block title %}Edit Categoriecodepromo{% endblock %}

{% block body %}
    <h1>Edit Categoriecodepromo</h1>

    {{ include('categoriecodepromo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categoriecodepromo_index') }}">back to list</a>

    {{ include('categoriecodepromo/_delete_form.html.twig') }}
{% endblock %}
