{% extends 'base.html.twig' %}

{% block title %}New Detailscommande{% endblock %}

{% block body %}
    <h1>Create new Detailscommande</h1>

    {{ include('detailscommande/_form.html.twig') }}

    <a href="{{ path('app_detailscommande_index') }}">back to list</a>
{% endblock %}
