{% extends 'base.html.twig' %}

{% block title %}New Ticketp{% endblock %}

{% block body %}
    <h1>Create new Ticketp</h1>

    {{ include('ticketp/_form.html.twig') }}

    <a href="{{ path('app_ticketp_index') }}">back to list</a>
{% endblock %}
