{% extends 'base.html.twig' %}

{% block title %}Create new Commentaire{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau commentaire</h1>

        {{ include('commentaire/_form.html.twig', {'button_label': 'Ajouter✅'}) }}

    <a href="{{ path('app_commentaire_index') }}">🔙Retourner à la liste🔙</a>
{% endblock %}
