<form method="post" action="{{ path('app_categorie_delete', {'idC': categorie.idC}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.idC) }}">
    <button class="btn">Delete</button>
</form>
